# autodock
# Development version of autodock
-e git+https://github.com/prologic/autodock.git#egg=autodock

# hipachectl
# Development version of hipachectl
-e git+https://github.com/prologic/hipachectl.git#egg=hipachectl

# circuits
# Development version of circuits
-e git+https://github.com/circuits/circuits.git#egg=circuits
